body{
	text-align: center;
	font-size: 1.5rem;
}

img:hover {
  transform: scale(1.4);
  transition: all .5s;
}

.cups {
	padding: 10px;
	margin: auto;
	width: 40%;
	border-bottom: 5px black;
}

.cup {
	height: 200px;
	width: 150px;
	padding-top: 150px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
	position: relative;
	top: 0;
	left: 0;
}

.ball {
	display: inline-block;
	height: 75px;
	width: 50px;
	position: absolute;
	top: 250px;
	left: 80px;
	visibility: hidden;
}

.cupdiv{
	display: inline-block;
	height: 200px;
	width: 200px;
	position: relative;
	top: 0;
	left: 0;
}

#result{
	padding: 200px, 0;
}